<div class="container py-5">

    <div class="text-center">

        <h1 class="display-3 fw-bold">
            Ramkumar Kollimalayan
        </h1>

        <h3 class="text-secondary">
            Senior Full Stack Engineer
        </h3>

        <p class="lead mt-4">
            ASP.NET Core | Angular | SQL Server | Azure
        </p>

        <div class="mt-4">

            <a href="https://github.com/ramkumar-kollimalayan" target="_blank" class="btn btn-dark me-2">
                GitHub
            </a>

            <a href="https://www.linkedin.com/in/ramkumar-kollimalayan/" target="_blank" class="btn btn-primary">
                LinkedIn
            </a>

        </div>

    </div>

</div>